<body>
    
<h1 class="text-center text-success fw-bold mt-5">ABOUT</h1>
<div class="d-flex container">
<P class="fs-4"><span class="fw-bold fs-2">I'm Praveetha</span><br><span class="">After a background in US IT Recruiter, I transitioned into full stack development through a coding course in aptech learning. I’ve developed applications using HTML,CSS,JavaScript,Angular, Django and MYSQL, and love solving real-world problems with code.

I may be new to the tech industry, but I bring strong problem-solving skills, a growth mindset, and a commitment to continuous learning. I’m looking for my first opportunity as a developer to apply what I’ve learned and keep growing.</span></P>
</div>
</body>
