<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
    <h1 class=" text-center fw-bold text-success mt-5">SKILLS</h1>

    <h2 class="m-5 text-center fw-bold fs-1">Professional skills</h2>

    <div class="all" class="container">
        <div class="code mx-auto text-center" appColor>
        <img src="/html.jpg" alt=""  style="width: 50px; height: 50px;">
        <h4>HTML</h4>
        <div class="point"></div>
        <div id="one" class="mb-5"></div>
        <h5>90%</h5>
        </div>
        <div class="code" appColor>
     <img src="/css.png" alt=""  style="width: 50px; height: 50px;">
        <h4>css</h4>
     <div class="point"></div>
      <div id="two"></div>
     <h5>90%</h5>
        </div>
        <div class="code" appColor>
       <img src="/js.webp" alt=""  style="width: 50px; height: 50px;">
        <h4>JS</h4>
      <div class="point"></div>
       <div id="three"></div>
      <h5>80%</h5>
        </div>
        <div class="code " appColor>
        <img src="/angular.png" alt=""  style="width: 50px; height: 50px;">
        <h4>Angular JS</h4>
        <div class="point"></div>
         <div id="four"></div>
        <h5>70%</h5>
        </div>
        <div class="code" appColor>
       <img src="/python.png" alt=""  style="width: 50px; height: 50px;">
        <h4>Python</h4>
        <div class="point"></div>
         <div id="five"></div>
        <h5>60%</h5>
        </div>
        
    </div>


    
    
</body>
</html>

    


