body{
    background-image: url(/back9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: skyblue;
    background-blend-mode: multiply;
    height: 100vh;

   

}

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px 3px  black;
     //color: white;
}
.myphoto{
    //background-color:rgb(0, 225, 255);
    border-radius: 50%;
    width: 350px;
    box-shadow: 25px 20px 20px pink ;
                
}

.imgdv{
    display: flex;
    flex-direction: row;
    gap: 500px;
  }

  a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
  }
  p{
    font-size: 40px;

  }
  .icon{
    border-radius: 50%;
    border: 2px solid black;
    font-size: 35px;
   
    
     transition: filter 0.3s ease;
       //background-color: #3498db;
       //background-color: gray;
       cursor: pointer;
  }
  .icon:hover{

    //background-color: rgb(9, 9, 160);
    background-color: black;

    
      
  }