<body class="bg-image text-white">
    <div class="container py-5">

      <div class="row align-items-center">
 <div class="col-md-4 text-center mb-4 mb-md-0">
  <img class="img-fluid myphoto rounded-circle" src="/my pic1.png" alt="Praveetha's Photo">
  </div>
<div class="col-md-8 text-center text-md-start">

<p class="text-white"> Hello It's Me <span class="fw-bold">Praveetha</span><br><span>And I'm a </span><span class="text-success fw-bold">Fullstack developer</span><br><span><a href="https://www.linkedin.com/in/praveetha-r-70332914b/" class=" p-1 icon"><i class="fa-brands fa-linkedin-in"></i></a>
<a href="https://www.facebook.com/profile.php?id=100009024300421" class="icon p-1 m-3"><i class="fa-brands fa-facebook"></i></a></span><span><a href="https://github.com/praveetha05" class="icon p-1"><i class="fa-brands fa-github"></i></a></span></p>

</div>


</div>
</div>

</body>

